# Environment variables for inception project

# System Configuration
HOME=${HOME}
USER=${USER}

# Database
DB_NAME=""
DB_USER=""
DB_PASSWORD=""
DB_HOST=""
DB_CHARSET=""
DB_COLLATE=""

# Wordpress
WORDPRESS_DB_NAME=""
WORDPRESS_DB_USER=""
WORDPRESS_DB_PASSWORD=""
WORDPRESS_DB_HOST=""

# Nginx
NGINX_PORT=""
NGINX_CONTAINER=""

# MariaDB
MARIADB_CONTAINER=""
MARIADB_PORT=""

MARIADB_ROOT_PASSWORD=""

# WordPress Admin Configuration (for wp-cli setup)
ADMIN_USER=""
ADMIN_PASSWORD=""
ADMIN_EMAIL=""

# WordPress Additional User Configuration
USER_NAME=""
USER_EMAIL=""
USER_PASSWORD=""